<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Marketplace</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/product/add}">Add Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<body>
<div class="container">
    <h2>Register</h2>

    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label for="userName">Username:</label>
            <input type="text" id="userName" th:field="*{userName}"/>
            <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="error"></div>
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
        </div>

        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
        </div>

        <div>
            <label for="birthday">Birthday:</label>
            <input type="date" id="birthday" th:field="*{birthday}"/>
            <div th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" class="error"></div>
        </div>

        <div>
            <label for="matriculationNumber">Matriculation Number:</label>
            <input type="number" id="matriculationNumber" th:field="*{matriculationNumber}"/>
        </div>

        <div>
            <button type="submit">Register</button>
        </div>
    </form>

    <div th:if="${successMessage}" class="success">
        <p th:text="${successMessage}"></p>
    </div>
</div>
</body>
</html>
